#indexPg { 
    width: 100vw;
    height: 100vh;
    background-image: url(coding.png);
    background-size: cover;    
    vertical-align: middle;
}

.row {
    justify-content: center;
    margin: auto;
}

.container {
    margin: auto;
    justify-content: center;
}

h1{    
    font-weight: bold;
    font-size: 60px;  
    margin: auto;
    text-align: center;
    border: 3px solid blue;
    color: blue;
    background-color: white;
}

.textBlock{
    font-weight: bold;
    font-size: 24px;  
    margin: auto;
    text-align: center;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    color: blue;
    background-color: white;    
}

#result {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin-bottom: 5px;
    color: blue;
    background-color: white;
   }

#score {
    font-size: 24px;
    color: blue;
    font-weight: bold;   
}

#timer {
    font-size: 24px;
    color: blue;
    font-weight: bold;
}

.btn { 
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
    width: 200px;
    text-align: center;
    border: 3px solid blue;
    margin-bottom: 10px;
    color: blue;
    background-color: white;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px blue;
    transform: translateY(-1px);
    transition: 150ms;
}

#question {
    font-size: 16px;
    color: blue;
    margin-bottom: 20px;
}

.choice-text { 
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border: 3px solid blue;
    margin-bottom: 10px;
    color: blue;
    background-color: white;
}

.nextQuestionBtn { 
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
    width: 200px;
    text-align: center;
    border: 3px solid blue;
    margin-bottom: 10px;
    color: blue;
    background-color: white;
}

.nextQuestionBtn:hover {
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px blue;
    transform: translateY(-1px);
    transition: 150ms;
}
.header {
    width: 100%;
    margin: 0;
    justify-content: center;  
}

form {
    width: 100%;
    align-items: center;
}
  
input {
    margin-bottom: 10px;
    width: 200px;
    padding: 15px;
    font-size: 24px;
    border: none;
    box-shadow: 0 1px 14px 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
    color: #aaa;
}

#scores{
    font-size: 24px;
    color: blue;
    text-align: center;
}  
  
.high-score {
    font-size: 28px;
    margin-bottom: 10px;
}
  
.high-score:hover {
    transform: scale(1.025);
}